@use "components";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url('../assets/img/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-image: cover;
    background-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        color: components.$grayish-blue;
        line-height: 28px;
        font-size: 18px;
    }

    h1,
    h2,
    h3 {
        color: components.$dark-grayish-blue;
    }
}

header {
    margin: 1rem;
    text-align: center;

    img {
        width: 130px;
        margin-top: 6.5rem;
    }

    h1 {
        margin-top: 4rem;
        margin-bottom: 0;
    }

    .desc-text {
        p {
            margin-top: 1.3rem;
            margin-bottom: 2.5rem;
            font-size: 17px;
        }
    }

    .btn-main {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
}

section {
    margin: 1rem;
}

.desc-text {
    h3 {
        font-size: x-large;
        margin-bottom: 0;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
}

.desc {
    margin-top: 7rem;
    margin-bottom: 2.5rem;

    h2 {
        font-size: xx-large;
    }

}

.desc-img-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 330px;
        margin-bottom: 2rem;
    }
}

.desc-img-2 {
    img {
        max-width: 360px;
    }

    h3 {
        font-size: xx-large;
        margin-top: 10rem;
    }

    p {
        padding-top: 0;
        margin-bottom: 4rem;
    }
}

.features {
    .features-main {
        h3 {
            margin-top: 6rem;
            font-size: xx-large;
        }

        p {
            margin-bottom: 3rem;
        }

    }
}

.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5.2rem;
}

.download {
    margin-top: 3.75rem;
    margin-bottom: 10rem;

    h2 {
        font-size: xx-large;
    }

}

footer {
    padding-top: 2.5rem;
    width: 100%;
    background-color: components.$grayish-blue2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    img {
        max-width: 60px;
        margin: 1.2rem 0;

    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        span {
            color: components.$dark-grayish-blue;
            font-size: large;
        }
    }

    .footer-social {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 1440px) and (min-width: 615px) {

    body {
        background-image: url(/assets/img/bg-header-desktop.png);
        background-repeat: no-repeat;
    }

    header {

        .btn-main {
            flex-wrap: nowrap;

            button {
                padding: 1rem 2.5rem;
            }
        }

        .desc-text {
            max-width: 760px;

            h1 {
                font-size: 2.7rem;
            }

            p {
                font-size: 1.4rem;
                line-height: 35px;
            }
        }

    }

    .desc {
        display: flex;
        max-width: 730px;

        h2 {
            font-size: 2.4rem;
        }

        p {
            font-size: 1.2rem;
            margin-top: 1.3rem;
            line-height: 35px;
        }
    }

    .desc-img-1 {
        flex-direction: row;
        gap: 3rem;

        .desc-text {
            text-align: left;
        }
    }

    .desc-img-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin-top: 6rem;
        }

        p {
            max-width: 730px;
            margin-bottom: 5.5rem;
            margin-top: 1rem;
        }

        img {
            max-width: 100%;
        }
    }

    .features {
        display: flex;
        flex-direction: column;

        .features-main {
            h3 {
                margin-top: 5.5rem;
            }

            p {
                margin-top: 1.5rem;
            }
        }

        .features-benefits {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin: 4% 10%;

            .benefit-card {
                flex: 1;

                p {
                    margin-top: 1.5rem;
                    line-height: 2rem;
                }
            }
        }
    }
}

@media (max-width: 1440px) and (min-width: 1000px) {

    .desc-img-1 {
        img {
            max-width: 53%;
            transform: translateX(-7%);
        }
    }
}

@media (max-width: 1440px) and (min-width: 1250px) {

    .desc-img-1 .desc-text {
        text-align: left;
        margin-right: 14.5rem;
    }
}